
body  {
    margin: 0;
    padding: 0;
    background-color: #d3c614;
   
 
}
.logo
    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 20%; 
        height: auto;
        max-width: 10000px;
}
main{
    background-color: #ffffff;
}
.meno a {
  color: #ffffff;
  text-decoration: none; 
}
header{
    background-color: #d3c614;
    padding: 100px 0;

  }
.meno{
  background-color: #d31414;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}



.carrinho {
  float: right; 
  margin-left: 10px; 
}

.carrinho img {
  height: 50px; 
}

div.meno {
  top: 50px;
  text-align:center;
  font-size: 25px;
}

.farmacia{
  background-color: #b4b3a2;
   width: 2000px; 
  height: 100px; 
  transition: width 0.3s, height 0.3s;

    }
    .farmacia {
        width: 1000px; 
        height: 150px; 
      
    }
    h1{
        background-color: #d3cb2e;
    }
    div li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    font-size: 30px; 
}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    top: 50px;
  }
  
  .slide {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }
  
  .card {
    width: calc(20% - 10px);
    margin-bottom: 1px; 
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  

  .card {
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

}
.card img {
    width: 10%;
    height: auto;
    display: block;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    top: 50px;
    width: calc(20% - 1px);
    margin-bottom: 100px; 
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  
  .card-body {
    padding: 5px;
  }
  
  .card-body h3 {
    margin-top: 0;
    text-align:center;
  }
  
  .card-body p {
    margin-bottom: 20px;
    text-align:center;
  }
  
  .card-body button {
    padding: 10px 150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .card-body button:hover {
    background-color: #0056b3;
    text-align:center;
  }
  

form {
    display: flex;
    justify-content:center;
    margin-top: 20px;
  }
    
input[type="text"] {
    padding: 10px;
    font-size: 30px;
    border: 5px solid #f0ebeb;
    border-radius: 5px 0 0 5px; 
    outline: none;
}


button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #45a049;
}


